:root {
    --primary-color: #EBF9FF;
    --secondary-color: #0072A3;
    --terciary-color: #A2CCDE;
    --bg-color: #41C3FA;
    --radius-lg: 1em;
}

body {
    font-family: 'Syne', sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* lennis */
html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }

  .container {
    width: 100%;
    background-color: var(--primary-color);
    position: relative;
    overflow-x: hidden;
}

h1 {
    font-size: 3.5em;
    font-weight: 800;
    margin: 0;
    border: 1px solid var(--secondary-color);
    border-radius: var(--radius-lg);
    padding: 20px 80px;
    margin-bottom: 40px;
}
h2 {
    font-size: 1.8em;
    font-weight: 800;
    color: var(--terciary-color);
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.3em;
    }
}

header {
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    display: inline-block;
    position: relative;
    padding: 5px;
    opacity: 0.7;
}

header nav ul li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: var(--secondary-color);
    transition: width 0.3s ease, left 0.3s ease;
}

header nav ul li a:hover:after {
    width: 100%;
    left: 0;
}

header nav ul li a.active {
    opacity: 1;
    cursor: default;
}

header nav ul li a.active:hover:after {
    width: 0;
    left: 50%;
}

header nav ul li a:active {
    text-decoration: underline;
}

header nav ul li a:visited {
    color: var(--secondary-color);
}

a:any-link {
    color: var(--secondary-color);
}

.links {
    color: var(--secondary-color);
    text-decoration: underline;
}

.links:hover {
    cursor: pointer;
}

.links:visited {
    color: var(--terciary-color);
}

section {
    padding: 40px 20px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.keywords {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.keywords span {
    border: 1px solid var(--secondary-color);
    border-radius: var(--radius-lg);
    padding: 7px 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    font-size: 0.9em;
}

.keywords .links {
    font-weight: 600;
}

.keywords .links a {
    padding-right: 7px;
}

.keywords {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.keywords span {
    border: 1px solid var(--secondary-color);
    border-radius: var(--radius-lg);
    padding: 7px 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    font-size: 0.9em;
}

.keywords .links {
    font-weight: 600;
}

.keywords .links a {
    padding-right: 7px;
}

.sticky-buttons {
    position: fixed;
    top: 80px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px);
    z-index: 5;
}

.sticky-button {
    color: var(--primary-color);
    padding: 10px 0px;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: underline;
}

.sticky-button img {
    height: 20px;
}

.sticky-button.next {
    margin-left: auto; 
}

.sticky-button img {
    height: 20px;
}

.content-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
    justify-items: center;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    margin: 40px auto;
}

.content-section .img-content, .content-section .text-content {
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
}

.text-content {
    padding: 20px;
    max-width: 430px;
}

.text-content p {
    margin-bottom: 10px;
}

.text-content em {
    color: var(--terciary-color);
}

#seccion-1 .img-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: solid 1px var(--secondary-color);
    border-radius: 500px;
    max-width: 600px;
}
#seccion-2 .video-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: solid 1px var(--secondary-color);
    border-radius: 180px;
    max-width: 600px;
}

#seccion-1 .img-content img {
    border-radius: 500px;
    max-width: 600px;
}

#seccion-2 .video-content video {
    border-radius: 170px;
    max-width: 600px;
    width: 100%;
}

.content-section .img-content video {
    width: 100%;
}

.content-section img {
    max-width: 550px;
    width: 100%;
}

.parrafos {
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    .content-section {
        grid-template-columns: 1fr;
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 0;
    }

    .content-section .img-content, .content-section .text-content {
        flex: 1 1 100%;
    }
    .keywords {
        justify-content: center;
    }
}
#seccion-3 {
    background-color: white;
    margin-top: 100px;
    padding-top: 30px;
}

#seccion-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}
.tabs-container {
    background: url('../img/dinbeat/bckg.png') no-repeat center center;
    background-size: cover;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
}
.tabs {
    display: flex;
    justify-content: center;
}
.tab-button {
    flex: 1;
    padding: 15px;
    cursor: pointer;
    background: var(--primary-color);
    border: none;
    outline: none;
    transition: background 0.3s;
    color: var(--secondary-color);
    font-weight: 700;
    font-family: 'Syne', sans-serif;
    font-size: 16px;
}
.tab-button.active, .tab-button:hover {
    text-decoration: underline;
    font-weight: 700;
}
.tabs-content {
    padding: 20px;
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}
.tab-content-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    color: white;
    padding:50px;
}
.tab-content-inner:first {
    align-items: flex-start;
}
.half {
    width: 48%;
}
.third {
    width: 30%;
    margin-bottom: 20px;
}
.smaller-half {
    width: 30%;
}
.larger-half {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.column {
    width: 48%;
    margin-bottom: 20px;
}
#seccion-5 img {
    max-width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
}
@media (max-width: 768px) {
    .tab-content-inner {
        flex-direction: column;
    }
    .half, .third, .smaller-half, .larger-half, .column {
        width: 100%;
    }
}

@media (max-width: 550px) {
    #seccion-5 {
        height: auto;
        padding: 0;
        margin-bottom: 50px;
    }
    .tab-content-inner {
        padding: 0;
    }
}


#seccion-6 {
    text-align: center;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 100px;
    padding-bottom: 50px;

}

#seccion-6 img {
    max-width:1024px;
    width: 100%;
    text-align: center;
    margin: auto;
}

@media screen and (max-width: 500px) {
    #seccion-6 {
        grid-template-columns: 1fr;
    }
    #seccion-6 img {
        padding-bottom: 50px;
    }
}

#seccion-7 {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-top: 150px;
    padding-left: 0;
}

#seccion-7 img {
    max-width:1024px;
    width: 100%;
    text-align: center;
    margin: auto;
}
#seccion-7 img:first-of-type {
    width: 92%;
}

@media screen and (max-width: 500px) {
    #seccion-7 {
        grid-template-columns: 1fr;
        padding-top: 50px;
    }
    #seccion-7 img {
       padding: 0;
    }
    #seccion-7 img:first-of-type {
        width: 100%;
    }
}

/* Estilos opcionales para ajustar el slider */

.glide {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.glide__slides {
    margin: 0;
    padding: 0;
}

.glide__slide  ul{
    list-style: none;
}

.glide__slide img {
    display: block;
    width: 100%;
    height: auto;
}

/* Estilos para las flechas de navegación */
.glide__arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.glide__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.8;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
    background: transparent;
}

.glide__arrow img {
    width: 40px; /* Ajusta el tamaño de las flechas según tus necesidades */
    height: auto;
}

.glide__arrow--left {
    left: 20px;
}

.glide__arrow--right {
    right: 20px;
}

/* Estilos para indicar cuando se puede hacer clic y al hacer hover */
.glide__arrow--left[disabled], .glide__arrow--right[disabled] {
    opacity: 0.2;
    pointer-events: none;
}

.glide__arrow:hover {
    opacity: 1;
}

#seccion-8 {
    display: flex;
    flex-direction:row;    
    align-items: flex-start;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

#seccion-8 h5 {
    color: var(--terciary-color);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 0;
}

#seccion-8 ul {
    margin-top: 0;
    list-style: square inside url('../img/dinbeat/list.svg');
}

@media screen and (max-width: 490px) {
    #seccion-8 {
        flex-direction:column;
        padding-top: 50px;
    padding-bottom: 50px;
    }
}

#seccion-9 {
    background-color: var(--secondary-color);
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

#seccion-9 p {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: auto;
    max-width: 980px;
}

@media screen and (max-width: 490px) {
    #seccion-9 p {
        font-size: 16px;
        font-weight: 600;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.redes img {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
}

.redes a {
    display: inline-block;
    position: relative;
    margin-right: 60px;
}

.redes .imagen-normal {
    opacity: 1;
}

.redes a:hover .imagen-normal {
    opacity: 0;
}

.redes a:hover .imagen-hover {
    opacity: 1;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--secondary-color);
    padding: 20px;
    margin-bottom: 0;
}

.social-icons {
    margin-bottom: 40px;
}

footer .back-to-top a {
    text-decoration: none;
    color: var(--secondary-color);
    padding: 15px 20px;
    position: relative;
    text-transform: uppercase;
}

footer .back-to-top a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--secondary-color);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  footer .back-to-top a:hover:after { 
    width: 100%; 
    left: 0; 
  }

  footer p {
    max-width: 300px;
  }

  @media screen and (max-width: 490px) {
    section {
        padding: 30px 10px;
    }
    footer {
        flex-direction: column;
    }
    .back-to-top {
        padding-top: 10px;
    }
  }