:root{
  --black:#2C2B29;
  --white:#ffffff;
  --yellow:#FFDB00;
  --gray:#737373;
}
body {
  margin: 0;
  color:var(--black);
  font-family: 'Raleway', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
}

p {
  font-size: 16px;
}
h1 {
  font-size: 3.5rem;
  font-weight: 900;
  letter-spacing: -0.03em;
  line-height: 97%; /* 44.62px */
  text-transform: uppercase;
  text-shadow: 0px 13px 28px rgba(0, 0, 0, 0.10), 0px 50px 50px rgba(0, 0, 0, 0.09), 0px 113px 68px rgba(0, 0, 0, 0.05), 0px 200px 80px rgba(0, 0, 0, 0.01), 0px 313px 88px rgba(0, 0, 0, 0.00);
  color: var(--yellow);
}
@media (max-width: 550px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.2rem;
  }
}


/* slides */
a {
  text-decoration: none;
}
nav {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  z-index: 100;
}
nav ul {
  list-style: none;
  text-align: center;
  margin-top: 30px;
  padding-left: 0;
}
nav ul li {
  display: inline-block;
  margin-right: 2px;
}
nav ul li:last-child {
  margin-right: 0;
}
#back-to-tutorial {
  margin-left: 100px;
}
nav a {
  position: relative;
  top: 0;
  padding: 5px 9px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--white);
  opacity: 0.5;
  color: var(--gray);
}
nav a:hover {
  opacity: 0.9;
}
nav a.active {
  font-weight: 900;
  opacity: 1;
  background-color: var(--gray);
  color: var(--yellow);
}
.slides-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
  background-color: var(--white);
}
.slide {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (hover: none) and (pointer: coarse) {
  .slides-container {
    overflow: auto;
  }
nav {
  display: none;
}
}
.slide span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  padding-top: 4px;
  text-shadow: 0px 13px 28px rgba(0, 0, 0, 0.10), 0px 50px 50px rgba(0, 0, 0, 0.09), 0px 113px 68px rgba(0, 0, 0, 0.05), 0px 200px 80px rgba(0, 0, 0, 0.01), 0px 313px 88px rgba(0, 0, 0, 0.00);
}
.slide:first-child {
  margin-top: 20px;
} 
.slide:last-child {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
} 
.slide .centered {
  width: 30%;
  margin: 260px 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.centered-final {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin: 80px 70px;
}

/* @media (min-width: 576px) {
  .slide .centered {
    margin: 50vh 100px; 
  }
} */
@media (max-width: 576px) {
  .slide .centered, .slide .centered-final {
    width: 70%; 
  }
  .slide .centered {
    margin: 260px 50px;
    padding-top: 200px;
  }
  .centered-final {
    margin: -10px 50px !important;
  }
  .slide:last-child {
    justify-content: flex-end;
}
}
@media (min-width: 1440px) {
  .slide:last-child {
    justify-content: flex-end;
}
}
.slide .centered h1 {
  text-align: left;
}
.slide .centered-final h1 {
  text-align: left;
}
.slide video {
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.slide .centered a {
  text-align: left;
  margin-top: 20px;
  color: var(--white);
  display: flex;
  gap: 10px;
}
.slide .centered-final a {
  text-align: left;
  margin-top: 20px;
  color: var(--white);
  display: flex;
  gap: 10px;
}
a.underline-hover-effect {
  text-decoration: none;
  color: inherit;
}
.underline-hover-effect {
  display: inline-block;
  padding-bottom: 0.25rem;
  position: relative;
}
.underline-hover-effect::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--white);
  transition: width 0.25s ease-out;
}
.underline-hover-effect:hover::before {
  width: 100%;
}
@media (max-width: 576px) {
  .slide video {
    object-fit: cover;
  }
  .slide .centered-final a {
    margin-top: 0;
  }
  .slide .centered-final h1 {
    margin-bottom: 0;
}
}
.slide .mobile-video {
  display: none;
}
@media (max-width: 576px) {
  .desktop-video {
    display: none; 
  }
  .slide .mobile-video {
    display: block;
    position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  }
  .slide .mobile-video img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}

.go-prev, .go-next {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

 /*CRÉDITOS*/
 .creditos {
  color: var(--white);
  padding:16px 0;
  display: flex;
  flex-direction: row;
  opacity: 0.5; 
  z-index: 2;
}
.container-fluid-creditos {
border-top:solid 1px var(--white);
padding-right: 20px;
padding-top: 5px;
padding-left: 20px;
margin-right: 30px;
margin-left: 30px;
width: min(95%, 80rem);
}
.container-fluid-creditos h4 {
  font-size:0.9em;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 800;
}
.container-fluid-creditos p {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 14px;
}

.container-fluid-creditos span {
  display: inline-block!important;
  font-size:0.8em;
}

@media (max-width: 768px) {
.container-fluid-creditos {
padding-right: 24px;
padding-left: 24px;
margin-left: 0;
}
.container-fluid-creditos h4 {
  font-size: 1.5em;
}
.container-fluid-creditos span {
  font-size: 1em;
}
}
@media (max-width: 520px) {
.creditos {
  padding: 20px 0 20px!important;
  flex-direction: column;
}
.container-fluid-creditos {
  width: min(95%, 160rem);
  padding-left: 14px;
}
.creditos div:last-of-type {
  padding-top: 10px;
}
.container-fluid-creditos h4 {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 0;
}
.container-fluid-creditos span {
  font-size: 0.7em;
}
}